
@{
    ViewData["Title"] = "Index";
}
@model List<RoleViewModel>
<a class="btn btn-primary" asp-controller="Role" asp-action="RoleCreate" asp-area="Admin">Rol Ekle balım</a>

<h1>Rol Liste</h1>
<div class="row">
    <div class="col-md-8 offseet-md-2">
        @if (TempData["SuccessMessage"] != null)
        {
            <div class="alert alert-info" role="alert">
                @TempData["SuccessMessage"]
            </div>
        }
<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Rol Adı</th>
            <th></th>
           
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>
                    <a class="btn btn-warning btn-sm" asp-area="Admin" asp-controller="Role" asp-action="RoleUpdate" asp-route-id="@item.Id">Güncelle</a>
                            <a class="btn btn-warning btn-sm my-1" asp-area="Admin" asp-controller="Role" asp-action="RoleDelete" asp-route-id="@item.Id">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>
    </div>
</div>

